<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport-width" content="width=device-width, initial-scale=1">
  <meta name="viewport-height" content="height=device-height, initial-scale=1">

  <!-- links to stylesheets -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link ref="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% load static %}
  <!-- localized stylesheets -->

  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/imgs/eSports_logo.png' %}">

  <link rel="script" href="{% static '/jQuery-3.4.1/jQuery.js'">

  <style>
  html,body,p,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
  </style>
  <!-- modified from Dashboard template from https://www.w3schools.com/w3css/w3css_templates.asp -->
  <body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-bar w3-top teal w3-large" style="z-index:4">
      <span class="w3-bar-item w3-left"><img src="{% static '/general/images/eSports_logo.png' %}" width="70px" height="70px" alt="Logo"></span>
    </div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-right:600px;margin-top:73px;" id="Content">

      <!-- Header -->
      <header class="w3-container" style="padding-top:22px">
        <h5><b><i class=""></i> Find User Stats</b></h5>
      </header>

      <div class="w3-row-padding w3-margin-bottom">
        <form action="/ajax/loginUser/" method="post">
          <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>

          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="password">Forgot <a href="#">password?</a></span>
          </div>
        </form>
      </div>

      <div class="w3-panel">
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-third">
            <h5>About Us</h5>
              <p>The University eSports program was started in the Fall of 2019. The program was spearheaded by Michael Cassens, a Media Arts Professor</p>
          </div>
          <div class="w3-twothird">
            <h5>Feeds</h5>

          </div>
        </div>
      </div>
      <hr>
      <div class="w3-container w3-bottom w3-dark-grey w3-padding-32">
        <div class="w3-row">
          <div class="w3-container w3-half">
            <div class="w3-container w3-half">
              <h5 class="w3-bottombar w3-border-orange">Accessibility</h5>
              <p>Language</p>
              <p>Country</p>
              <p>City</p>
            </div>
            <div class="w3-container w3-half">
              <h5 class="w3-bottombar w3-border-red">System</h5>
              <p>Browser</p>
              <p>OS</p>
              <p>More</p>
            </div>
          </div>
          <div class="w3-container w3-half">
            <div class="w3-container w3-half">
              <h5 class="w3-bottombar w3-border-blue">Target</h5>
              <p>Users</p>
              <p>Active</p>
              <p>Geo</p>
              <p>Interests</p>
            </div>
            <div class="w3-container w3-half">
              <h5 class="w3-bottombar w3-border-green">Contact Us</h5>
              <p>address</p>
              <p>email</p>
              <p>number</p>
              <p>media links</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End page content -->
    </div>
    <script src="{% static '/js/eSports.js' %}"></script>
  </body>
  </html>
