/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

ul{
  list-style-type: none;
}
a:link, a:visited {
  background-color: inherit;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #5e001d;
}

.w3-btn{
  padding: 0;
  padding-left: 0!important;
  padding-right: 0!important;
  padding-bottom: 0!important;
  display: block!important;
}
ul.w3-btn{
  padding-top: 5px!important;
}

/* Top of page >>> Bottom of Page */
.header{
  text-align: center;
}
.navbar{
  overflow: hidden;
}

.logo{
  width: 50%;
  float: left;
}
.title{
  color: white;
  display: block-inline;
  height: inherit;
}
.Menu{
  float: left;
  padding: 10px;;
  width: 50%;
}
.dropdown{
  overflow: hidden;
  float: right;
  padding:  15px 14px;
}
.dropdown button{
  padding: 15px 14px;
}
.dropbtn.w3-btn{
  padding: 0!important;
}

.dropdown-content{
  border-radius: 10px;
  border-color: #000;
  border-style: solid;
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
}

.card{
  border-radius: 10px;
  border-color: #000;
  border-style: solid;
  height: 500px;
  width: 300px;
  background-image: url('../imgs/eSports_logo.png');
  background-repeat: no-repeat;
  background-position: center;
}

.card a{
  border-radius: 5px;
  float: left;
  width: 100%;
  text-align: left;

}
.card a:hover,.card a:active{
  color: #ffffff;
  background-color: #3c3c3c;
}

.show{
  display: block;
}
.hide{
  display: none;
}

.main-body{
  overflow: hidden;
}
.row{
  display: table;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar{
  float: left;
  overflow-y: scroll;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100vh;
}
.content{
  float: left;
  width: 60%;
  height: 100vh;
  text-align: center;
}

.right.sidebar{
  text-align: center;
}

.footer{
  height: 100px;
}
