
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

ul{
  list-style-type: none;
}
a:link, a:visited {
  background-color: inherit;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #5e001d;
}

.maroon{
  color: #ffffff!important;
  background-color: #5e001d!important;
}

.teal {
  color: #ffffff!important;
  background-color: #098099!important;
}
.my-kind-of-gray{
  color: #ffffff;
  background-color: #3c3c3c;
}
.logo{
  background-color: inherit;
  height: inherit;
}
.title{
  color: white;
  display: block-inline;
  height: inherit;
}
.burger{
  padding: 2%!important;
  text-align: right;
  height: inherit;
  margin-bottom: 10px;
  margin-top: 10px;
}

.fa-bars:before{
  cursor: pointer;
}
.sidebar{
  overflow-y: scroll;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 20vw;
  height: 100vh;
}
.w-100per{
  width: 100%;
}
.h-100per{
  height: 100%;
}
.w3-btn{
  padding: 0;
  padding-left: 0!important;
  padding-right: 0!important;
  padding-bottom: 0!important;
  display: block!important;
}
ul.w3-btn{
  padding-top: 5px!important;
}
.footer{
  height: 10%;
}
