/* Colors */
.maroon{
  color: #ffffff!important;
  background-color: #70002e!important;
}

.teal {
  color: #ffffff!important;
  background-color: #098099!important;
}
.my-kind-of-gray{
  color: #ffffff;
  background-color: #3c3c3c;
}
.light-gray{
  color: #000;
  background-color: #ddd;
}

.dark-gray{
  color: #ffffff;
  background-color: #404040;
}

.darker-gray{
  color: #ffffff;
  background-color: #525252;
}

.white{
  color: #000!important;
  background-color: #ffffff!important;
}

.black{
  color: #ffffff;
  background-color: #000;
}
/* Custom Adjustment Classes */
.w-100per{
  width: 100%;
}
.h-100per{
  height: 100%;
}
