<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport-width" content="width=device-width, initial-scale=1">
    <meta name="viewport-height" content="height=device-height, initial-scale=1">

    <!-- links to stylesheets -->
    <link ref="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% load static %}
    <!-- localized stylesheets -->
    <link rel="stylesheet" href="{% static '/css/master.css' %}"></style>
    <link rel="stylesheet" href="{% static '/css/w3.css' %}">

    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/imgs/eSports_logo.png' %}">

    <style>
    html,body,p,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
    </style>
  </head>
  <!-- modified from Dashboard template from https://www.w3schools.com/w3css/w3css_templates.asp -->
  <body>
    <!-- Top container -->
    <div class="nav-bar w3-dark-red">
      <div class="Logo w3-left">
        <img src="{% static '/imgs/eSports_logo.png' %}" alt="Esports">
      </div>
    </div>
  </body>
  <script src="{% static '/js/eSports.js' %}"></script>
  <script src="{% static '/js/landing.js' %}"></script>

</html>
