<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport-width" content="width=device-width, initial-scale=1">
  <meta name="viewport-height" content="height=device-height, initial-scale=1">

  <!-- links to stylesheets -->
  <link ref="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% load static %}
  <!-- localized stylesheets -->
  <link rel="stylesheet" href="{% static '/css/master.css' %}">
  <link rel="stylesheet" href="{% static '/css/HomePage.css' %}">
  <link rel="stylesheet" href="{% static '/css/w3.css' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/imgs/eSports_logo.png' %}">

  <style>
    html,body,p,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
    </style>
</head>

<body>
  <div class="header w3-container w3-center maroon">
    <div class="w3-quarter" style="filter: grayscale(100%) invert(1);">
      <img src="{% static '/imgs/eSports_logo.png'%}" alt="Griz Esports Logo">
    </div>
    <div class="w3-half">
      <h1>University of Montana Esports</h1>
    </div>
    <div class=" w3-quarter account-buttons">
      <div class="">
        <div class="a-button drop" style="display:inline-block;" onclick="showDrop()">Log In</div>
        <span>or</span>
        <a href="/register/">Sign Up</a>

      </div>
      <div id="myDropdown" class="dropdown-content drop my-kind-of-gray">
          <div class="card maroon drop">
            <form autocomplete="off" class="sign-up-form drop" action="index.html" method="post">
              <h6 class="">Sign In</h6>
              <input class="drop light-gray" type="text" name="" autocomplete="off" placeholder="Username">
              <input class="drop light-gray" type="password" name="" autocomplete="off" placeholder="password">
            </form>
            <a href="#">Log In</a>
          </div>
        </div>
    </div>
    <!-- <div class="w3-right w3-top w3-btn w3-medium fa fa-bars"></div> -->
  </div>
  </div>
  <div id="our-page">
    <div class="navbar teal">

    </div>

    <!-- Start of the Main Body Content -->
    <div class="main-body">
      <div class="row">
        <div class="left sidebar my-kind-of-gray">
          <div id="Apex" class="player-button teal w-100per" onclick="dropPlayers('Apex')">
            <h6>Apex Legends</h6>

          </div>
          <div id="LeagueOfLegends" class="player-button teal w-100per" onclick="dropPlayers('LeagueOfLegends')">
            <h6>League of Legends</h6>

          </div>
          <div id="RocketLeague" class="player-button teal w-100per" onclick="dropPlayers('RocketLeague')">
            <h6>Rocket League</h6>

          </div>
        </div>
        <div class="content">
          <h3>Content Frame</h3>
          <p>Container to hold the Stat site window for the corresponding player. Will eventually cover majority of the screen on focus</p>
        </div>
        <div class="right sidebar my-kind-of-gray">
          <h3>Right Sidebar</h3>
          <br>
          <h5>Ideas:</h5>
          Sight changer?
        </div>

      </div>

    </div>

    <!-- Start of  -->
    <div class="footer teal">
      <div class="w3-center links">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Contact Us</a>

      </div>
    </div>
  </div>
  <div class="">
    <object id="outsidePage" class="hide w3-bottom" style="width:100vw; height:89vh;" type="text/html"></object>

  </div>

</body>
<!-- jquery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- local scripts -->
<script src="{% static '/js/getPlayers.js' %}"> </script>
<script src="{% static '/js/getURL.js' %}"> </script>
<script src="{% static '/js/eSports.js' %}"></script>
<script src="{% static '/js/landing.js' %}"></script>

</html>
